<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated controlcomponent -->
      <package
            uri="http://www.dfki.de/cos/basys/controlcomponent"
            class="de.dfki.cos.basys.controlcomponent.ControlcomponentPackage"
            genModel="model/controlcomponent.genmodel"/>
   </extension>

</plugin>
